/*general styling*/
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

.header {
    padding: 7px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: #2a607c;
    color: #ffffff;

}
.header h1 {
    display: inline-block;
    font-size: 30px;
}

.header nav {
    padding-top: 9px;
    margin-right: 36px;
    float: right;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 15px;
}

.header nav ul li {
    display: inline-block;
    margin-left: 25px;
}

a {
    color: white;
    text-decoration: none;
}
